header {
  @include primary-gradient;
  @include shadow;
  @include text-shadow(#000);
  display: table;
  height: 20px;
  width: 100%;
  overflow: visible;
  position: inherit;
  padding: 5px 0;
  z-index: 900;
  //margin-bottom: 60px;

  h1 {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    color: $page-header-text-color;
    margin-right: 20px;
    margin-bottom: 0px;
    padding: 3px $horizontal-page-margin 0 $horizontal-page-margin;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.2;

    a {
      text-decoration: none;

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }

    img {
      position: relative;
      top: -2px;
    }

  }

  a, a:link { color: $page-header-text-color; }

  .header-item {
    top: 2px;
    position: relative;
    height: 20px;
  }

  ul.tabs {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    margin: 0;
    padding: 0;

    & > li {
      display: inline-block;
      margin-top: 5px;
      margin-right: 4px;
      margin-bottom: 5px;
      font-size: 1.0em;
      position: relative;

      a {
        text-decoration: none;
        padding: 6px 10px 4px 10px;
        position: relative;
        @include rounded(10px);
      }

      &.current > a {
        background: $current-menu-item-background;
        color: #fff;
      }

      &:hover > a {
        background: $hover-menu-item-background;
        color: #fff;
      }
    }

  }

  #tabs {
    width: 100%;
    white-space: nowrap;
  }

  #utility_nav {
    text-align: right;
    display: table-cell;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    padding-right: 26px;
    text-align: right;

    a { text-decoration: none; }
    a:hover { color: #fff; }


    li {
      display: inline;
    }
  }
}
