body.login {
  background: #e8e9ea;

  #content-wrapper{
    width: 500px;
    margin: 70px auto;
    
    #active_login{
      @include shadow;
      background: #fff;
      padding: 13px 30px;
    }
  }
}

